@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html {
  background: #ff7a7a url(../images/bg-intro-mobile.png) top center;
  box-sizing: border-box;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 2.5rem 0 0;
  min-width: 350px;
  transition: max-width .5s ease-in-out;
}

header,
main,
footer,
form {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2.5rem 2.4rem;
  width: 100%;
}

header {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

header h1 {
  font-size: 2.74rem;
  font-weight: 700;
  line-height: 1.32;
  margin: 1.5em 0 0;
  padding: 0;
  transition: font-size .5s ease-in-out;
}

header p.intro {
  line-height: 1.6;
  margin: 1.5em 0 0;
  padding: 0;
}

.no-break {
  white-space: nowrap;
}

main p.try-it-free {
  background-color: #6055a5;
  border-radius: 1rem;
  box-shadow: 0 0.8rem rgba(0, 0, 0, 0.2);
  margin: 1.2rem 0 2.5rem;
  padding: 2rem 5rem;
}

main p.try-it-free b {
  font-weight: 600;
}

main form {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.8rem rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
}

main form input, main form button {
  border-radius: 0.5rem;
  box-sizing: border-box;
}

main form input {
  background: none right .85em center;
  border: .1rem #dedede solid;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 1.2em;
  padding: 1.3em;
  width: 100%;
  transition: background 1s ease-in-out;
}

main form button {
  background-color: #38cc8c;
  border: 0;
  box-shadow: 0 0.4rem #2caa74;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: .05rem;
  line-height: 1;
  padding: 2rem 1em 1.5rem;
  text-transform: uppercase;
  width: 100%;
}

main form p {
  color: #b9b6d3;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
  padding: 0 3rem;
  transition: font-size .5s ease-in-out;
}

main form p a {
  color: #ff7a7a;
  font-weight: 700;
  text-decoration: none;
}

main form p.error-message {
  display: none;
  color: #ff7a7a;
  font-style: italic;
  line-height: 2;
  margin-top: -1.5em;
  padding: 0;
  text-align: right;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

/**
 * Form Validation
 */
input.validation-error,
input.validation-error:focus {
  background: no-repeat url(../images/icon-error.svg) right 0.85em center;
  border-color: #ff7a7a;
  color: #ff7a7a;
  padding-right: 3.5em;
  transition: background 1s ease-in-out;
}

input.validation-error + p.error-message {
  display: block;
  opacity: 1;
  transition: display .5s ease-in-out;
}

footer p {
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0;
}

label {
  position: absolute;
  visibility: hidden;
}

@media (min-width: 418px) {
  header h1 {
    font-size: 2.2em;
    transition: font-size .5s ease-in-out;
  }
}

@media (min-width: 500px) {
  body {
    max-width: 500px;
    transition: max-width .5s ease-in-out;
  }
  form p {
    font-size: 1.3rem;
    transition: font-size .5s ease-in-out;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 600px;
    transition: max-width .5s ease-in-out;
  }
  header h1 {
    font-size: 2.6em;
  }
  main form {
    padding: 4rem;
  }
  main form input {
    margin: 0 0 1.5em;
  }
}

@media (min-width: 900px) {
  html {
    background-image: url(../images/bg-intro-desktop.png);
  }
  body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
  }
  header {
    text-align: left;
  }
  header, main {
    width: 50%;
  }
  footer {
    width: 100%;
  }
}
