@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// Global variables
  // Colors
  $primaryColorLight: hsl(0, 100%, 74%);
  $primaryColorDark: hsl(154, 59%, 51%);
  $accentColor: hsl(248, 32%, 49%);
  $neutralColorDark: hsl(249, 10%, 26%);
  $neutralColorLight: hsl(246, 25%, 77%);
  $mainFontColor: #fff;
  $boxShadow: 0 .8rem  hsla(0, 0%, 0%, .2);
  // Fonts
  $fontFamily: Poppins, sans-serif;
  $baseFontSize: 10;
  $mainFontSize: 1.6rem;
  $regularWeight: 400;
  $mediumWeight: 500;
  $semiboldWeight: 600;
  $boldWeight: 700;

  // Images
  $defaultBgImg: url(../images/bg-intro-mobile.png);
  $desktopBgImg: url(../images/bg-intro-desktop.png);

  // Distances & sizes
  $defaultPadding: 1.5 * $mainFontSize;
  $mainPadding: 1.5625 * $mainFontSize 2.4rem;
  $borderRadius: 1rem;
  $buttonPadding: 2rem 5rem;

html {
  background: $primaryColorLight $defaultBgImg top center;
  box-sizing: border-box;
  color: $mainFontColor;
  font-family: $fontFamily;
  font-size: $baseFontSize+px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;//100vw;
  height: 100vh;
}
body {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  font-size: $mainFontSize;
  margin: 0 auto;
  padding: 2.5rem 0 0;//$mainPadding;
  min-width: 350px;
  transition: max-width .5s ease-in-out;
}

header,
main,
footer,
form {
  box-sizing: border-box;
  margin: 0 auto;
  padding: $mainPadding;
  width: 100%;
}

header {
  padding-left: $defaultPadding + .1;
  padding-right: $defaultPadding + .1;
  h1 {
    font-size: 2.74rem;
    font-weight: $boldWeight;
    line-height: 1.32;
    margin: 1.5em 0 0;
    padding: 0;
    transition: font-size .5s ease-in-out;
  }

  p.intro {
    line-height: 1.6;
    margin: 1.5em 0 0;
    padding: 0;

  }
}

.no-break {
  white-space: nowrap;
}

main {
  p.try-it-free {
    background-color: $accentColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    margin: $defaultPadding/2 0 $defaultPadding + .1;
    padding: $buttonPadding;
    b {
      font-weight: $semiboldWeight;
    }
  }

  form {
    background-color: $mainFontColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    font-size: $mainFontSize;
    padding-bottom: $defaultPadding/2;
    input, button {
      border-radius: $borderRadius/2;
      box-sizing: border-box;
    }

    input {
      background: none right .85em center; // To use with transitions
      border: .1rem #dedede solid;
      font-size: $mainFontSize - .2;
      font-weight: $boldWeight;
      margin: 0 0 1.2em;
      padding: 1.3em;
      width: 100%;

      transition: background 1s ease-in-out;
    }

    button {
      background-color: $primaryColorDark;
      border: 0;
      box-shadow: 0 .4rem  hsl(154, 59%, 42%); // Todo % of $primaryColorDark
      color: $mainFontColor;
      font-size: $mainFontSize;
      letter-spacing: .05rem;
      line-height: 1;
      padding: 2rem 1em 1.5rem;
      text-transform: uppercase;
      width: 100%;
    }

    p {
      color: $neutralColorLight;
      font-size: 1.1rem;
      font-weight: $mediumWeight;
      line-height: 2;
      padding: 0 3rem;
      transition: font-size .5s ease-in-out;
      a {
        color: $primaryColorLight;
        font-weight: $boldWeight;
        text-decoration: none;
      }
    }

    p.error-message {
        display: none;
        color: $primaryColorLight;
        font-style: italic;
        line-height: 2;
        margin-top: -1.5em;
        padding: 0;
        text-align: right;
        transition: opacity .5s ease-in-out;

        opacity: 0;
    }
  }
}

/**
 * Form Validation
 */
input.validation-error,
input.validation-error:focus {
  background: no-repeat url(../images/icon-error.svg) right .85em center;
  border-color: $primaryColorLight;
  color: $primaryColorLight;
  padding-right: 3.5em;

  transition: background 1s ease-in-out;
}
input.validation-error + p.error-message {
  display: block;
  opacity: 1;
  transition: display .5s ease-in-out;
}

footer {
  p {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0;
  }
}


  // Hide labels
  label {
    position: absolute;
    visibility: hidden;
  }


  @media (min-width: 418px) {
    header {
      h1 {
        font-size: 2.2em;
        transition: font-size .5s ease-in-out;
      }
    }
  }

  @media (min-width: 500px) {
    body {
      max-width: 500px;
      transition: max-width .5s ease-in-out;
    }

    form {
      p {
        font-size: 1.3rem;
        transition: font-size .5s ease-in-out;
      }
    }
  }

  @media (min-width: 768px) {
    body {
      max-width: 600px;
      transition: max-width .5s ease-in-out;
    }
    header {
      h1 {
        font-size: 2.6em;
        //transition: font-size .5s ease-in-out;
      }
    }

    main {
      form {
        padding: 4rem;

        input {
          margin: 0 0 1.5em;
        }
      }
    }
  }

  @media (min-width: 900px) {
    html {
      background-image: $desktopBgImg;
    }
    body {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 1160px;
      //transition: max-width .5s ease-in-out;
    }

    header {
      text-align: left;
      //width: 52.734375%
    }
    main {
      //width: 50.78125%;
      //flex-basis: 52.734375%;
    }
    header, main {
      width: 50%;
      //max-width: 540px;
    }

    footer {
      width: 100%;
    }
  }